#ItemMenuArquivo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
    font-weight: bold;
}

#k{
    font-weight: bolder;
    font-size: 22px;
    font-family:'Courier New', Courier, monospace;
    text-decoration: underline;
}